<!DOCTYPE html>
<html>
<head>
  <title>Klinichealthways.com</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../styles/Clinic.css">
  <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
<script src="../scripts/lib/jquery-2.2.3.js"></script>
 <script src="../scripts/lib/bootstrap.min.js"></script>
 <script src="../scripts/lib/bootstrap.js"></script>
  <script src="../scripts/lib/angular.js"></script>
  <script src="../scripts/lib/angular-route.js"></script>
  <script src="../scripts/lib/angular-route.min.js"></script>
   <script src="../scripts/maincontroller.js"></script>
     <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>
 
</head>
<body>

<div class="wrapper" ng-app="wrap" ng-controller="wrappercontroller"> 
	<div class="top-view">

		<div class="medical-phone-wrap clearfix">

			<div id="clinic-name">
				<div>Klinic</div>
				<div>
					<span>Healthways</span>
					<!--<span><img src="../images/cross.png" alt"oops"></span>-->
				</div>
			</div>

			<div id="phone-number">
				Call us at +91 96433 83473
			</div>

		</div>

		<div class="menu-wrap">
	
		<nav class="navbar navbar-default">
  <div class="container-fluid">
   
    <ul class="nav navbar-nav menu">
      <li ng-click="$emit('homeEvent')" class="header-li"><a class="header-li-pointer" href="#">Home</a></li>
      <li ng-click="$emit('aboutEvent')" class="header-li"><a class="header-li-pointer" href="#">About Us</a></li>
      <li ng-click="$emit('servicesEvent')" class="header-li"><a class="header-li-pointer" href="#">Services</a></li>
      <li ng-click="$emit('contactEvent')" class="header-li"><a class="header-li-pointer" href="#">Contact Us</a></li>
      <li ng-click="$emit('siteMapEvent')" class="header-li"><a class="header-li-pointer" href="#">Sitemap</a></li>
     
    </ul>
  </div>
</nav>
		
		
		
		
	</div>

</div>

<div ng-init="page='home.htm'" class="midviewwrap"  >
   
    <div ng-include="page" class="mid-view clearfix" id="mid" ng-controller="midviewController"></div>
  
</div>

<div class="footer-view">
    <div class="column-bind clearfix">
        <div class="column1-footer">
            <ul>
                <li ng-click="$emit('homeEvent')" class="footer-li">Home</li>
                <li ng-click="$emit('aboutEvent')" class="footer-li">About Us</li>
                <li ng-click="$emit('contactEvent')" class="footer-li">Contact Us</li>
                <li ng-click="$emit('siteMapEvent')" class="footer-li">SiteMap</li>
             
            </ul>
        </div>
    
        <div class="column2-footer">
            <ul>
                <li ng-click="$emit('breathesleep')" class="footer-li">Breathe And Sleep Klinic</li>
                <li ng-click="$emit('dental')" class="footer-li">South Delhi Dental Klinic</li>
                <li ng-click="$emit('polyklinic')" class="footer-li">Family PolyKlinic & Infectious Disease Center</li>
                <li ng-click="$emit('kdclabs')" class="footer-li">KDC Labs</li>
             
            </ul>
        </div>
        
      
    
    </div>    
        
</div>


    
<script type = "text/ng-template" id ="home.htm">
    
      <div class="home-carousel">
	 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="../images/homepage-carousel1.jpg" alt="HAEMATOLOGICAL">
      </div>

      <div class="item">
        <img src="../images/homepage-carousel2.jpg" alt="MicroBiology">
      </div>
    
      <div class="item">
        <img src="../images/homepage-carousel3.jpg" alt="Doctor">
      </div>

     <div class="item">
        <img src="../images/homepage-carousel5.jpg" alt="Founder">
      </div>

    </div>

  </div>
    </div>
    
<div class="home-service">
    <div class="our-services-header"><h2>Our Services</h2></div>
    <p class="home-service-reason">Listed below four reasons to choose us !!!</p>
    <div class="home-service-ul clearfix">  
    <ul class="nav navbar-nav menu">
       <li ng-click="$emit('breathesleep')" class="home-service-li"><img src="../images/about-us-pulmonology.jpg" class="img-circle home-service-li-img" alt="Cinque Terre">
     <p class="home-service-li-header">Breathe & Sleep</p>
        <p class="home-service-li-header">Klinic</p>
  </li>
  <li ng-click="$emit('dental')" class="home-service-li"><img src="../images/home-dental.jpg" class="img-circle home-service-li-img" alt="Cinque Terre">
     <p class="home-service-li-header">Dental Klinic</p> 
  </li>
  <li ng-click="$emit('polyklinic')" class="home-service-li">
    <img src="../images/home-infectious.jpg" class="img-circle home-service-li-img" alt="Cinque Terre">
     <p class="home-service-li-header">Family PolyKlinic</p>  
       <p class="home-service-li-header"> & Infectious</p>  
       <p class="home-service-li-header">  Disease Center</p> 
   </li>
    
    <li ng-click="$emit('kdclabs')" class="home-service-li">
     <img src="../images/home-dermatology.jpg" class="img-circle home-service-li-img" alt="Cinque Terre">
     <p class="home-service-li-header">KDC Labs</p>     
        
    </li>
    </ul> 
    
    </div>
  
</div>
	
    
</script>
    
<script type ="text/ng-template" id ="services.htm">
    
       <div class="home-service">
    <div class="our-services-header"><h2>Our Services</h2></div>
    <p class="home-service-reason">Listed below four reasons to choose us !!!</p>
    <div class="home-service-ul clearfix">  
    <ul class="nav navbar-nav menu">
       <li ng-click="$emit('breathesleep')" class="home-service-li"><img src="../images/about-us-pulmonology.jpg" class="img-circle home-service-li-img" alt="Cinque Terre">
     <p class="home-service-li-header">Breathe & Sleep</p>
        <p class="home-service-li-header">Klinic</p>
  </li>
  <li ng-click="$emit('dental')" class="home-service-li"><img src="../images/home-dental.jpg" class="img-circle home-service-li-img" alt="Cinque Terre">
     <p class="home-service-li-header">Dental Klinic</p> 
  </li>
  <li ng-click="$emit('polyklinic')" class="home-service-li">
    <img src="../images/home-infectious.jpg" class="img-circle home-service-li-img" alt="Cinque Terre">
     <p class="home-service-li-header">Family PolyKlinic</p>  
       <p class="home-service-li-header"> & Infectious</p>  
       <p class="home-service-li-header">  Disease Center</p> 
   </li>
    
    <li ng-click="$emit('kdclabs')" class="home-service-li">
     <img src="../images/home-dermatology.jpg" class="img-circle home-service-li-img" alt="Cinque Terre">
     <p class="home-service-li-header">KDC Labs</p>     
        
    </li>
    </ul> 
    
    </div>
  

</div>
    
    
    
    </script> 


<script type = "text/ng-template" id = "about.htm">
    <div id="change-view">
     	<div  class="front-block">
	
	 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="../images/about-us-carousel1.png" alt="HAEMATOLOGICAL" width="945px" height="300px">
      </div>

      <div class="item">
        <img src="../images/about-us-carousel2.png" alt="MicroBiology" width="945px" height="300px">
      </div>
    
      <div class="item">
        <img src="../images/about-us-haemo.jpg" alt="MicroBiology" width="945px" height="300px">
      </div>
        
      <div class="item">
        <img src="../images/about-us-pulmonology.jpg" alt="MicroBiology" width="945px" height="300px">
      </div>

    </div>

  </div>	
	
	
	</div>

    <div class="about-service clearfix">
<div class="about-donate-wrap">
	<div class="about-us">
		<div id="header-about-us"><h2>About Us</h2></div>
		<div id="about-us-desc">
		<p>Klinic HealthWays is the confluence of experience, acumen and dedication. It is a one of a kind physician owned-</p>
			<p>physician run multispecialty polyclinic, which ensures that we cut out the bureaucracy and give direct personal</p>
			<p>medical and dental aid and attention. Dr.Kajal Mehra, the founder, director and pathologist at our clinic has been</p>
				<p>providing par excellence work in the field of pathology for more than 25 years.  Alumni of the prestigious Lady   </p>
				<p>Hardinge College, Delhi, she indeed personifies dedication and brilliance aided by a fully computerized laboratory</p>
<p>and group of experienced technicians</p>
		</div>
	</div>
	

</div>

</div>
    
	<div class="our-doctors">
    <h2>Our Doctors</h2>
    <ul class="list-inline">
  <li class="doctor-li"><img src="../images/kajal.png" class="img-rounded doctor-image" alt="Cinque Terre">
     <p class="doctor-name">Dr. Kajal Mehra</p> 
  </li>
  <li class="doctor-li"><img src="../images/karn.png" class="img-rounded doctor-image" alt="Cinque Terre">
     <p class="doctor-name">Dr. Karn Mehra</p> 
  </li>
  <li class="doctor-li">
    <img src="../images/vyoma.png" class="img-rounded doctor-image" alt="Cinque Terre">
     <p class="doctor-name">Dr. Vyoma Singh</p>  
   </li>
    
    <li class="doctor-li">
     <img src="../images/biplav.png" class="img-rounded doctor-image" alt="Cinque Terre">
     <p class="doctor-name">Dr. Biplav Aggarwal</p>     
        
    </li>
</ul>
    </div>
    
     <div class="why-choose-us">
    
    <h2>Why Should You Choose Us ?</h2>
    <p>Primary Care and Laboratory Services</p>
    <p>Experienced doctors in every specialty</p>
    <p>We take the time you need</p>
    <p>Satisfied patients and an unparalleled experience</p>
    
    </div>
    
    </div>
    
    <div class="services">
<div class="services-header"><h2>SERVICES</h2></div>
<div class="setvices-offered">
	<ul class="list-group">
<li ng-click="$emit('breathesleep')" class="service-type list-group-item">Breathe And Sleep Klinic</li>
<li ng-click="$emit('dental')" class="service-type list-group-item">South Delhi Dental Klinic</li>
<li ng-click="$emit('polyklinic')" class="service-type list-group-item">Family PolyKlinic & Infectious Disease Center</li>
<li ng-click="$emit('kdclabs')" class="service-type list-group-item">KDC Labs</li>

</ul>

</div>
        
        
<div class="form-leave-a-message">
<form role="form" action="../index.php" method="post">
	
 <div class="form-group">
    <label for="Name">Name:</label>
    <input type="text" name="name" class="form-control" id="name">
  </div>
 <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" name="emailid" class="form-control" id="email">
  </div>

<div class="form-group">
    <label for="phone">Phone Number:</label>
    <input type="tel" pattern="^[789]\d{9}$" name="phonenumber" maxlength="10" class="form-control" id="phone">
  </div>
  <div class="form-group">
	<label for="message">Message:</label>
    <textarea class="form-control" name="message" id="message">Enter your message here.....</textarea>
  </div>
  <div class="radio">
    <label class="gender"><input type="radio" name="gender" value="male">Male</label>
    <label class="gender"><input type="radio" name="gender" value="female">Female</label>
    <label class="gender"><input type="radio" name="gender" value="trans">Prefer Not to Say</label>
  </div>
  <button type="submit" name="submit" value="submit" class="btn btn-default">Leave A Message</button>
</form>
</div>
    </div>
   
  
</script>
    
<script type="text/ng-template" id="contact.htm">
    
<div class="contact-wrap clearfix">
<div class="contact-form-leave-a-message">

<form role="form" action="../index.php" method="post">
	
 <div class="form-group">
    <label for="Name">Name:</label>
    <input type="text" name="name" class="form-control" id="name">
  </div>
 <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" name="emailid" class="form-control" id="email">
  </div>

<div class="form-group">
    <label for="phone">Phone Number:</label>
    <input type="tel" pattern="^[789]\d{9}$" name="phonenumber" maxlength="10" class="form-control" id="phone">
  </div>
  <div class="form-group">
	<label for="message">Message:</label>
    <textarea class="form-control" name="message" id="message">Enter your message here.....</textarea>
  </div>
  <div class="radio">
    <label class="gender"><input type="radio" name="gender" value="male">Male</label>
    <label class="gender"><input type="radio" name="gender" value="female">Female</label>
    <label class="gender"><input type="radio" name="gender" value="trans">Prefer Not to Say</label>
  </div>
  <button type="submit" name="submit" value="submit" class="btn btn-default">Leave A Message</button>
  
</form>

</div>
    
<div class="contact-us-details">
<img class="contact-us-img" src="../images/contactus.jpg" alt="cannot load image" />
</div>
    
    </div>

    
</script>
    
<script type="text/ng-template" id="sitemap.htm">

<div class="sitemapwrap clearfix" ng-controller="sitemapcontroller">
<div class="map-details">
<img ng-click="$emit('mapclick')" class="map-img" src="../images/sainikfarm.png" alt="cannot load location map" />
</div>
    
<div class="map-address">
    <p><img class="address-img" src="../images/address-img.png" alt="cannot load image" width="20px" height="20px"  /> : Klinic Healthways,
        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;First Floor,<br/>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DDA market Anupam Apartment,<br />  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IGNOU road.<br />
        
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Delhi-110068</p>
    <p><img class="address-img" src="../images/email.png" alt="cannot load image" width="20px" height="20px" />  : klinichealthways.delhi@gmail.com</p>
    <p><img class="address-img" src="../images/phone-img.png" alt="cannot load image" width="20px" height="20px" />  : +91 96433 83473<br />
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 98100 15347
    
    </p>
    <p><img class="address-img" src="../images/clock-time.png" alt="cannot load image" width="20px" height="20px" /> : Clinic 10 A.M. to 8 P.M.<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lab : 8 A.M. to 8 P.M.
    </p>
</div>

</div>
    
</script>
    
<script type="text/ng-template" id="breathesleep.htm">

<div class="wrap-breathesleep clearfix">

    <div class="pic-info-breathesleep">
        <div class="pic-breathesleep">
            <img src="../images/breathesleep.jpg" alt="cannot dispay image" width="800px" height="300px" />
        </div>
        <div class="info-breathesleep">
            <p class="breathesleep-paragraph">In era of pollution and population where smoke and stress are constantly hollowing out the life</p>
            <p class="breathesleep-paragraph">from our mind and body, Breathe and Sleep Klinic gives you a sigh of relief. </p>
             <p class="breathesleep-paragraph">&nbsp;</p>
             <p class="breathesleep-paragraph">We offer:</p>
             <p class="breathesleep-paragraph">&nbsp;</p>
            <p class="breathesleep-paragraph">DIAGNOSTIC PROCEDURES:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;THERAPEUTIC PROCEDURES:</p>
            <p class="breathesleep-paragraph">&nbsp;</p>
            <p class="breathesleep-paragraph">VIDEO BRONCHOSCOPY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BI PAP THERAPY</p>
            <p class="breathesleep-paragraph">PULMONARY FUNCTION TESTING&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C PAP THERAPY</p>
            <p class="breathesleep-paragraph">6 MINUTE WALK TEST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LONG TERM OXYGEN THERAPY</p>
            <p class="breathesleep-paragraph">SUB MAXILLARY PULMONARY EXERCISE TESTING&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CHEST PHYSIOTHERAPY</p>
            <p class="breathesleep-paragraph">POLYSOMNOGRAPHY (SLEEP STUDY)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IMMUNOTHERAPY</p>
            <p class="breathesleep-paragraph">THORACOSCOPY</p>
            <p class="breathesleep-paragraph">ALLERGY SKIN TESTING</p>
            

            
            
        </div>
    </div>
    
<div class="services-extra-option">
<div class="services-header"><h2>SERVICES</h2></div>
<div class="setvices-offered">
	<ul class="list-group">
<li ng-click="$emit('breathesleep')" class="service-type list-group-item">Breathe And Sleep Klinic</li>
<li ng-click="$emit('dental')" class="service-type list-group-item">South Delhi Dental Klinic</li>
<li ng-click="$emit('polyklinic')" class="service-type list-group-item">Family PolyKlinic & Infectious Disease Center</li>
<li ng-click="$emit('kdclabs')" class="service-type list-group-item">KDC Labs</li>

</ul>

</div>
        
</div>
    
    
</div>
    
</script>

    
<script type="text/ng-template" id="dental.htm">

<div class="wrap-dental clearfix">

    <div class="pic-info-dental">
        <div class="pic-dental">
            <img src="../images/dental.jpg" alt="cannot dispay image" width="800px" height="300px" />
        </div>
        <div class="info-dental">
            <p class="dental-paragraph">A smile says much more than words, no wonder now is the age of gleaming smiles and sparkling teeth.</p>
            
             <p class="dental-paragraph">&nbsp;</p>
            <p class="dental-paragraph">We Offer : </p>
            <p class="dental-paragraph">COSMETIC SMILE CORRECTION INCLUDING BLEECHING</p>
            <p class="dental-paragraph">ENDODONTIC (RCT) TREATMENT</p>
            <p class="dental-paragraph">ORAL PROPHYLAXIS AND POLISHING</p>
            <p class="dental-paragraph">PREVENTIVE FILLINGS</p>
            <p class="dental-paragraph">RESTORATIVE FILLINGS</p>
            <p class="dental-paragraph">FIXED AND REMOVABLE PROTHETICS</p>
            <p class="dental-paragraph">CROWNS AND IMPLANTS </p>
            <p class="dental-paragraph">EXTRACTIONS, IMPACTIONS</p>
            <p class="dental-paragraph">ALVEOLOPLASTY</p>
            <p class="dental-paragraph">PAEDEATRIC DENTISTRY</p>
            <p class="dental-paragraph">ORTHODONTIC TREATMENT</p>
            
            
        </div>
    </div>
    
<div class="services-extra-option">
<div class="services-header"><h2>SERVICES</h2></div>
<div class="setvices-offered">
	<ul class="list-group">
<li ng-click="$emit('breathesleep')" class="service-type list-group-item">Breathe And Sleep Klinic</li>
<li ng-click="$emit('dental')" class="service-type list-group-item">South Delhi Dental Klinic</li>
<li ng-click="$emit('polyklinic')" class="service-type list-group-item">Family PolyKlinic & Infectious Disease Center</li>
<li ng-click="$emit('kdclabs')" class="service-type list-group-item">KDC Labs</li>

</ul>

</div>
        
</div>
    
    
</div>
    
</script>
    
    


<script type="text/ng-template" id="infectious.htm">

<div class="wrap-infectious clearfix">

    <div class="pic-info-infectious">
        <div class="pic-infectious">
            <img src="../images/infectious.png" alt="cannot dispay image" width="800px" height="300px" />
        </div>
        <div class="info-infectious">
            <p class="dental-infectious">Polyclinic's family medicine physicians believe that establishing relationships with your entire family builds a</p>
            <p class="dental-infectious">foundation for a lifetime of health and wellness. Patients enjoy building that bond with their family medicine </p>  
            <p class="dental-infectious">physician and parents especially appreciate the convenience of having one doctor for everyone in the family.</p>
            
            <p class="dental-infectious">&nbsp;</p>
            <p class="dental-infectious">Primary care for all ages</p>
            <p class="dental-infectious">The Polyclinic Family Medicine practise encompasses all areas of primary care for all ages from newborns to  </p>
            <p class="dental-infectious">seniors including</p>
            <p class="dental-infectious">&nbsp;</p>
            <p class="dental-infectious">Preventive Care</p>
            <p class="dental-infectious">Managing Chronic Conditions</p>
            <p class="dental-infectious">Pediatrics and Adolescent Health</p>
            <p class="dental-infectious">Women Health and Gynecology</p>
            <p class="dental-infectious">Men's Health</p>
            <p class="dental-infectious">Sexual Health</p>
            <p class="dental-infectious">&nbsp;</p>
            <p class="dental-infectious">Our infectious disease clinic provides state-of-the-art diagnosis and treatment for a wide range of infections. We </p>
            <p class="dental-infectious">also provide immunizations and othe prevention services. Our infectious disease doctors have specialized </p>
            <p class="dental-infectious">expertise in many areas especially HIV/AIDS, TB, STDs, Skin infections, Pneumonia, various </p>
            <p class="dental-infectious">viral, fungal and bacterial infections.</p>
            
        </div>
    </div>
    
<div class="services-extra-option">
<div class="services-header"><h2>SERVICES</h2></div>
<div class="setvices-offered">
	<ul class="list-group">
<li ng-click="$emit('breathesleep')" class="service-type list-group-item">Breathe And Sleep Klinic</li>
<li ng-click="$emit('dental')" class="service-type list-group-item">South Delhi Dental Klinic</li>
<li ng-click="$emit('polyklinic')" class="service-type list-group-item">Family PolyKlinic & Infectious Disease Center</li>
<li ng-click="$emit('kdclabs')" class="service-type list-group-item">KDC Labs</li>

</ul>

</div>
        
</div>
    
    
</div>
    
</script>    
    
   
    
    


<script type="text/ng-template" id="kdclabs.htm">

<div class="wrap-kdclabs clearfix">

    <div class="pic-info-kdclabs">
        <div class="pic-kdclabs">
            <img src="../images/pathology.jpg" alt="cannot dispay image" width="800px" height="300px" />
        </div>
        <div class="info-kdclabs">
            <p class="dental-kdclabs">Established in 1991, KDC labs has been a metaphor of reliability, efficiency and accuracy in the </p>
            <p class="dental-kdclabs">field of pathological testing and reporting. KDC labs have been a hallmark of quality results and  </p>  
            <p class="dental-kdclabs">dedication to excellence.</p>
            
            <p class="dental-kdclabs">&nbsp;</p>
            <p class="dental-kdclabs">Headed by one of South Delhi’s most respected pathologist, Dr. Kajal Mehra, KDC labs has stood the </p>
            <p class="dental-kdclabs">test of time and technology inculcating the latest methods, machinery and skill to deliver the most accurate results  </p>
            <p class="dental-kdclabs">, that too to your door steps.</p>
            <p class="dental-kdclabs">&nbsp;</p>
            <p class="dental-kdclabs">Being one of South Delhi’s pioneer providers of diagnostic testing, information and services that patients</p>
            <p class="dental-kdclabs">and doctors need to make better healthcare decisions. Our services range from routine blood tests — such as </p>
            <p class="dental-kdclabs">total cholesterol, Pap testing and white blood cell count — to complex, gene-based and molecular testing. </p>
            <p class="dental-kdclabs">We perform medical tests that aid in the diagnosis or detection of diseases, measure the progress or recovery </p>
            <p class="dental-kdclabs">from a disease or confirm that an individual is free from disease. We have specialized expertise in cancer, </p>
            <p class="dental-kdclabs">cardiovascular diseases, infectious diseases, and neurology</p>
        
        </div>
    </div>
    
<div class="services-extra-option">
<div class="services-header"><h2>SERVICES</h2></div>
<div class="setvices-offered">
	<ul class="list-group">
<li ng-click="$emit('breathesleep')" class="service-type list-group-item">Breathe And Sleep Klinic</li>
<li ng-click="$emit('dental')" class="service-type list-group-item">South Delhi Dental Klinic</li>
<li ng-click="$emit('polyklinic')" class="service-type list-group-item">Family PolyKlinic & Infectious Disease Center</li>
<li ng-click="$emit('kdclabs')" class="service-type list-group-item">KDC Labs</li>

</ul>

</div>
        
</div>
    
    
</div>
    
</script>     

    
    

</div>

</body>
</html>

